{% extends 'partials/base.html'%} {%block title%} Category page {%endblock%}
<!--Table-->
{%block content %}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="mdi mdi-account-box"></i>
      </span>
      View Category
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Category list
          <i
            class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"
          ></i>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Button trigger modal -->

  <div class="row">
    <div class="col-lg-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h3 class="page-title">
            <span
              type="button"
              class="page-title-icon bg-gradient-primary text-white me-2"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i class="mdi mdi-plus-circle-outline"></i>
            </span>
          </h3>

          <table class="table table-borderless datatable">
            <thead>
              <tr>
                <th>#</th>
                <th>Category name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Food</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Fruit</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- add Modal HTML -->
{% include "dashboard/category/add.html" %}
<!-- Edit Modal HTML -->
{%endblock %}
