{% block content %}
<!-- Modal -->
{% for product in products%}
<div
  id="deleteProductModal-{{forloop.counter}}"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form action="/product/delete/{{product.id}}" method="post">
        {% csrf_token %}
        <div class="modal-header">
          <h4 class="modal-title">Delete Product</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Are you sure to delete {{product.name}} from product?</p>
          <p class="text-danger">
            <small>N.B: This action is irreversible.</small>
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            cancel
          </button>
          <button class="btn btn-success" type="submit">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
