{% extends 'partials/base.html'%} {%block title%} Category page {%endblock%}
<!--Table-->
{%block content %}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="mdi mdi-account-box"></i>
      </span>
      View Category
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Category list
          <i
            class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"
          ></i>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-description">Add category form</p>
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputUsername1">Name</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputName1"
                placeholder="Name"
              />
            </div>
            <button type="submit" class="btn btn-gradient-primary me-2">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-description"><code>Category list</code></p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Category name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Food</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Fruit</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock %}
