<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add category</h4>
        <p class="card-description">add,delete,update</p>
        <form class="forms-sample">
          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputUsername1"
              placeholder="Username"
            />
          </div>
          <button type="submit" class="btn btn-gradient-primary me-2">
            Submit
          </button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
