
{% extends "partials/base.html" %} {%block title%} Profile Update page {%endblock%}
<!--load static-->
{% load static %}
<!--block-->
{% block content %}
<!-- partial:partials/_navbar.html -->
{% include 'partials/navbar.html' %}
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  {% include 'partials/sidebar.html' %}
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-account-box"></i>
          </span>
          Update user profile page
        </h3>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <span></span>Update user profile
              <i
                class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"
              ></i>
            </li>
          </ul>
        </nav>
      </div>
      
    <div class="row">
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
                <form method='POST'>
                  
                  <div class="form-group">
                    {{ user_form.username.label_tag }}{{ user_form.username }}
                    <div class="text-danger">{{ form.username.errors }}</div>
                  </div>
      
                  <div class="form-group">
                    {{ user_form.email.label_tag }}
                    {{ user_form.email }}                
                    <div class="text-danger">{{ user_form.email.errors }}</div>
                  </div>
                  <div class="form-group">
                    {{ profile_form.phone.label_tag }}
                    {{ profile_form.phone }}
                    
                    <div class="text-danger">{{ profile_form.phone.errors }}</div>
                  </div>
                  <div class="form-group">
                    {{ profile_form.address.label_tag }}
                   {{ profile_form.address }}
                    
                    <div class="text-danger">{{ profile_form.address.errors }}</div>
                  </div>
                  <div class="form-group">
                    {{ profile_form.image}}
                    <div class="text-danger">{{ profile_form.image.errors }}</div>
                  </div>
                  <div class="mt-3 d-flex justify-content-end">
                    <button
                      type="submit"
                      class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"
                    >
                      Update
                    </button>
                  </div>
                  
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<style>
  .form-group input{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
</style>

{% endblock %}
