{% extends "partials/base.html" %} {%block title%} Profile Update page {%endblock%}
<!--load static-->
{% load static %}
<!--block-->
{% block content %}
<!-- partial:partials/_navbar.html -->
{% include 'partials/navbar.html' %}
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  {% include 'partials/sidebar.html' %}
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-account-box"></i>
          </span>
          Update user profile page
        </h3>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <span></span>Update user profile
              <i
                class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"
              ></i>
            </li>
          </ul>
        </nav>
      </div>
    <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
                <form method='POST'>
                  
                  <div class="form-group">
                    {{ form.username.label_tag }}
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="exampleInputUsername1"
                      placeholder="Username"
                      name="{{ form.username.name }}"
                    />
                    <div class="text-danger">{{ form.username.errors }}</div>
                  </div>
      
                  <div class="form-group">
                    {{ form.email.label_tag }}
                    <input
                      type="email"
                      class="form-control form-control-lg"
                      id="exampleInputEmail1"
                      placeholder="Email"
                      name="{{ form.email.name }}"
                    />
                    <div class="text-danger">{{ form.email.errors }}</div>
                  </div>
                  <div class="form-group">
                    {{ form.profile.phone.label_tag }}
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="exampleInputphone1"
                      placeholder="phone"
                      name="{{ form.profile.phone.name }}"
                    />
                    <div class="text-danger">{{ form.profile.phone.errors }}</div>
                  </div>
                  <div class="form-group">
                    {{ form.profile.address.label_tag }}
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="exampleInputaddress1"
                      placeholder="address"
                      name="{{ form.profile.address.name }}"
                    />
                    <div class="text-danger">{{ form.profile.address.errors }}</div>
                  </div>
                  <div class="form-group">
                    {{ form.profile..profile.image.label_tag }}
                    <input
                      type="file"
                      class="form-control form-control-lg"
                      id="exampleInput.profile.image1"
                      placeholder=".profile.image"
                      name="{{ form.profile..profile.image.name }}"
                    />
                    <div class="text-danger">{{ form.profile..profile.image.errors }}</div>
                  </div>
                  
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


{% endblock %}
